body {
    background-color:#FBEC5D;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;

}

.navbar {
    top: 0px;
    position: sticky;
    width: 200px;
    height: 100%;
    padding: 16px;
}

.logo p {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul a {
    top: 100px;
    display: block;
    padding: 16px;
    left: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
}

/* .top-navbar {
    background-color: #3a24f0;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;

} */

.top-navbar a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    display: block;

}

.top-navbar a:hover {
    text-decoration: underline;
}

